body {
  background-image:url( https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2837182/1160/771/m1/fpnw/wm0/sky_background_with_sun1-.jpg?1497313685&s=202c7f0a5ff106d7d6e05b638390a626);
  background-size:cover;
  font-size: 16px;
  font-family: Arial;
  background-color: rgb(7, 207, 114);
  padding: 20px;
}